{% block richtextarea_widget %}
{% spaceless %}

    <script type="text/javascript" charset="utf-8">
    window.CKEDITOR_BASEPATH = "{{ base_path }}";
    $(function() {
      if(!window.duocmsCkEditorLoading){

          if (!window.duocmsCkEditorLoaded)
          {
            window.duocmsCkEditorLoading = true;
            var exists = false;
            $('script').each(function() {
              var src = $(this).attr('src');
              if (src === "{{ script_path }}")
              {
                exists = true;
                window.duocmsCkEditorLoaded = true;
              }
            });
            if (!exists)
            {
              $.getScript("{{ script_path }}", function() {
                window.duocmsCkEditorLoaded = true;
                window.duocmsCkEditorLoading = false;
              });
            } else {
                window.duocmsCkEditorLoading = false;
            }
          }

      }
    });
    </script>

<div class="bfos-richtext-textarea-wrapper">
    <textarea {{ block('widget_attributes') }} class="bfos-richtext-textarea ck">{{ value }}</textarea>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  initializeEditor();
  function initializeEditor()
  {
    if (window.duocmsCkEditorLoaded)
    {
      if (window.CKEDITOR.instances['{{ id }}'])
      {
        delete window.CKEDITOR.instances['{{ id }}'];
      };
      CKEDITOR.replace('{{ id }}', {{ ckeditor_options | raw }} );
      DUOCMS.log(window.CKEDITOR.instances);
      // The hidden textarea has no id, we have to go by name
      var textarea = $('#{{ id }}');
      textarea.addClass('duocms-needs-update');
      textarea.bind('duocms.update', function() {
        var value = window.CKEDITOR.instances['{{ id }}'].getData();
        textarea.val(value);
      });
      window.CKEDITOR.instances['{{ id }}'].on('instanceReady', function (evt)
      {
        var editor = evt.editor;
        // http://cksource.com/forums/viewtopic.php?p=48574#p48574
        if (window.CKEDITOR.env.webkit && parseInt(editor.config.width) < 310)
        {
          var iframe = document.getElementById('cke_contents_' + editor.name).firstChild;
          iframe.style.display = 'none';
          iframe.style.display = 'block';
        }
      });
    }
    else
    {
      window.setTimeout(initializeEditor, 50);
    }
  }
});
</script>

{% endspaceless %}
{% endblock richtextarea_widget %}