{% block bfos_richtextarea_widget %}
{% spaceless %}

    <script type="text/javascript" charset="utf-8">
    window.CKEDITOR_BASEPATH = "{{ base_path }}";
    $(function() {
      if(!window.bfosCkEditorLoading){

          if (!window.bfosCkEditorLoaded)
          {
            window.bfosCkEditorLoading = true;
            var exists = false;
            $('script').each(function() {
              var src = $(this).attr('src');
              if (src === "{{ script_path }}")
              {
                exists = true;
                window.bfosCkEditorLoaded = true;
              }
            });
            if (!exists)
            {
              $.getScript("{{ script_path }}", function() {
                window.bfosCkEditorLoaded = true;
                window.bfosCkEditorLoading = false;
              });
            } else {
                window.bfosCkEditorLoading = false;
            }
          }

      }
    });
    </script>

<div class="bfos-richtext-textarea-wrapper">
    <textarea {{ block('widget_attributes') }} class="bfos-richtext-textarea ck">{{ value }}</textarea>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  initializeEditor();
  function initializeEditor()
  {
    if (window.bfosCkEditorLoaded)
    {
      if (window.CKEDITOR.instances['{{ id }}'])
      {
        delete window.CKEDITOR.instances['{{ id }}'];
      };
      CKEDITOR.replace('{{ id }}', {{ ckeditor_options | raw }} );

      window.CKEDITOR.instances['{{ id }}'].on('instanceReady', function (evt)
      {
        var editor = evt.editor;
        // http://cksource.com/forums/viewtopic.php?p=48574#p48574
        if (window.CKEDITOR.env.webkit && parseInt(editor.config.width) < 310)
        {
          var iframe = document.getElementById('cke_contents_' + editor.name).firstChild;
          iframe.style.display = 'none';
          iframe.style.display = 'block';
        }
      });
    }
    else
    {
      window.setTimeout(initializeEditor, 50);
    }
  }
});
</script>

{% endspaceless %}
{% endblock bfos_richtextarea_widget %}

{% block bfos_fcbkcomplete_widget %}
{% spaceless %}

<select {{ block('widget_attributes') }} multiple="multiple">
    {% for key,valueo in valueWithLabels %}
    <option value="{{key}}" selected="selected" class="selected">{{valueo}}</option>
    {% endfor %}
</select>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#{{id}}").fcbkcomplete({{fcbkcomplete_options|raw}});
    });
</script>

{% endspaceless %}
{% endblock bfos_fcbkcomplete_widget %}


{% block bfos_date_widget %}

{{ block('date_widget') }}
{% set _id_suffix = '' %}
{{ block('bfos_date_js') }}

{% endblock bfos_date_widget %}


{% block bfos_datetime_widget %}

{{ block('datetime_widget') }}
{% set _id_suffix = '_date' %}
{{ block('bfos_date_js') }}
<style type="text/css">
    #{{id}}_time_hour, #{{id}}_time_minute {
        width: 45px;
    }
</style>
{% endblock bfos_datetime_widget %}

{% block bfos_date_js %}

<style type="text/css">
    #{{id}}{{_id_suffix}}_day, #{{id}}{{_id_suffix}}_month {
        width: 50px;
    }
    #{{id}}{{_id_suffix}}_year {
        width: 70px;
    }
</style>
<script type="text/javascript">
    {% if widget != 'single_text' %}
    var {{id}}_selector = '#{{id}}_jquery_control';
    {% else %}
    var {{id}}_selector = '#{{id}}';
    {% endif %}

    jQuery(document).ready(function($){
        {% if widget != 'single_text' %}
        $('#{{id}}{{_id_suffix}}').append('<input type="hidden" id="{{id}}_jquery_control" size="10" disabled="disabled">');
        {% endif %}
        var options = {
            showOn:     "button",
            buttonImage: "{{asset('bundles/bfostwigextensions/images/calendar1.png')}}",
            buttonImageOnly: true
            {% if widget != 'single_text' %}
            , beforeShow: wfd_{{id}}_read_linked
            , onSelect: wfd_{{id}}_update_linked
            , dateFormat: "yy-mm-dd"
            {% endif %}
        };
        $({{id}}_selector).datepicker(options);

        {% if widget != 'single_text' %}
        wfd_{{id}}_check_linked_days();
        {% endif %}
        $({{id}}_selector).datepicker($.datepicker.regional['{{locale}}'.replace('_','-')]);
    });
    {% if widget != 'single_text' %}
    function wfd_{{id}}_read_linked()
    {
        jQuery({{id}}_selector).val(jQuery("#{{id}}{{_id_suffix}}_year").val() + "-" + jQuery("#{{id}}{{_id_suffix}}_month").val() + "-" + jQuery("#{{id}}{{_id_suffix}}_day").val());

        return {};
    }

    function wfd_{{id}}_update_linked(date)
    {
        jQuery("#{{id}}{{_id_suffix}}_year").val(parseInt(date.substring(0, 4), 10));
        jQuery("#{{id}}{{_id_suffix}}_month").val(parseInt(date.substring(5, 7), 10));
        jQuery("#{{id}}{{_id_suffix}}_day").val(parseInt(date.substring(8), 10));

        wfd_{{id}}_check_linked_days();
    }

    function wfd_{{id}}_check_linked_days()
    {
        var daysInMonth = 32 - new Date(jQuery("#{{id}}{{_id_suffix}}_year").val(), jQuery("#{{id}}{{_id_suffix}}_month").val() - 1, 32).getDate();

//        jQuery("#%s option").attr("disabled", "");
//        jQuery("#%s option:gt(" + (%s) +")").attr("disabled", "disabled");

        if (jQuery("#{{id}}{{_id_suffix}}_day").val() > daysInMonth)
        {
            jQuery("#{{id}}{{_id_suffix}}_day").val(daysInMonth);
        }
    }
    {% endif %}
</script>

{% endblock bfos_date_js %}
