{% block bfos_richtextarea_widget %}
{% spaceless %}

    <script type="text/javascript" charset="utf-8">
    window.CKEDITOR_BASEPATH = "{{ base_path }}";
    $(function() {
      if(!window.bfosCkEditorLoading){

          if (!window.bfosCkEditorLoaded)
          {
            window.bfosCkEditorLoading = true;
            var exists = false;
            $('script').each(function() {
              var src = $(this).attr('src');
              if (src === "{{ script_path }}")
              {
                exists = true;
                window.bfosCkEditorLoaded = true;
              }
            });
            if (!exists)
            {
              $.getScript("{{ script_path }}", function() {
                window.bfosCkEditorLoaded = true;
                window.bfosCkEditorLoading = false;
              });
            } else {
                window.bfosCkEditorLoading = false;
            }
          }

      }
    });
    </script>

<div class="bfos-richtext-textarea-wrapper">
    <textarea {{ block('widget_attributes') }} class="bfos-richtext-textarea ck">{{ value }}</textarea>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  initializeEditor();
  function initializeEditor()
  {
    if (window.bfosCkEditorLoaded)
    {
      if (window.CKEDITOR.instances['{{ id }}'])
      {
        delete window.CKEDITOR.instances['{{ id }}'];
      };
      CKEDITOR.replace('{{ id }}', {{ ckeditor_options | raw }} );

      window.CKEDITOR.instances['{{ id }}'].on('instanceReady', function (evt)
      {
        var editor = evt.editor;
        // http://cksource.com/forums/viewtopic.php?p=48574#p48574
        if (window.CKEDITOR.env.webkit && parseInt(editor.config.width) < 310)
        {
          var iframe = document.getElementById('cke_contents_' + editor.name).firstChild;
          iframe.style.display = 'none';
          iframe.style.display = 'block';
        }
      });
    }
    else
    {
      window.setTimeout(initializeEditor, 50);
    }
  }
});
</script>

{% endspaceless %}
{% endblock bfos_richtextarea_widget %}

{% block bfos_fcbkcomplete_widget %}
{% spaceless %}

<select {{ block('widget_attributes') }} multiple="multiple">
    {% for key,valueo in valueWithLabels %}
    <option value="{{key}}" selected="selected" class="selected">{{valueo}}</option>
    {% endfor %}
</select>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#{{id}}").fcbkcomplete({{fcbkcomplete_options|raw}});
    });
</script>

{% endspaceless %}
{% endblock bfos_fcbkcomplete_widget %}
